
<% cliente.forEach( c=>{  %>    
    <li> Cedula:  <label for=""> <%= c.Cedula %>  &nbsp;&nbsp;&nbsp; </label>  Nombre: <label for=""> <%= c.Nombres %> &nbsp;&nbsp;&nbsp; </label>   Apellidos: <label for=""> <%= c.Apellidos %> &nbsp;&nbsp;&nbsp; </label>  Correo: <label for=""><%= c.Correo %> &nbsp;&nbsp;&nbsp; </label> </li>
<% }); %>

